.hangman {
  margin: 0 10%;
  border: thin solid red;
  text-align: center;
}

.letter-container {
  margin: 50px auto 20px;
}

.letter-slot {
  // border-bottom: 1px solid black;
  // width: 20px;
  // display: inline-block;
  // margin-right: 10px;
}
